{% extends 'layout.html' %}

{% block body %}
<!-- <div class='jumbotron text-center'>
    <h1>This is our Home map</h1>
    <p class="lead">Everything can be shown in a div below this jumbotron</p>
</div> -->

<head>
    <meta charset="utf-8">
        <title>Fortune 500: Home</title>
        <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <link rel="stylesheet" href="../static/style.css">
</head>

<div class='jumbotron text-center'>
<h1>Fortune 500: Revenue Map</h1>
<p class="lead">The Fotune 500 companies location in the United States and their respective Revenue.</p>
</div>


 <!-- The div where we will inject our map -->
<div id="map"></div>

<!-- API key -->
<script type="text/javascript" src="../static/config.js"></script>
<!-- JS -->
<script type="text/javascript" src="../static/logic.js"></script>
{% endblock %}