{% extends 'layout.html' %}

{% block body %}

<head>
        <meta charset="utf-8">
            <title>Fortune 500: Sector Revenues</title>
            <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <link rel="stylesheet" href="../static/style.css">
</head>

<div class='jumbotron text-center'>
    <h1>Industry Bubble Charts</h1>
    <p class="lead">The Fotune 500 companies are categorized into 21 major industry sectors. These bubble charts depict their relative sizes.</p>
</div>



      <!-- Second Row -->
    <div class="row">

            <!-- First of two columns -->
            <div class="col-md-6">
              <h1> <center> Profitability (in $M) </center> </h1>
              <script type="text/javascript"> console.log("Hello") </script>
              <div id="svg-area-1"></div>
              <script type="text/javascript" src="../static/sector_profits_summary.js"></script>
            </div>
            
            <!-- Second of two columns -->
            <div class="col-md-6">
              <h1><center> Revenues (in $M)</center> </h1>
              <script type="text/javascript"> console.log("Hello") </script>
              <div id="svg-area-2"></div>  
              <script type="text/javascript" src="../static/sector_revenues_summary.js"></script>
            </div>
    </div>
    

{% endblock %}